<div class="container large-marg">
  <h1>Editing Blog</h1>

  <%= render 'form', blog: @blog %>

  <div class="large-marg">
    <%= link_to 'Show', @blog, class: 'btn btn-light' %> |
    <%= link_to 'Back', blogs_path, class: 'btn btn-light' %>
  </div>
</div>
