<div class="container large-marg">

  <h1>Blogs</h1>

  <div class="marg">
    <%= link_to 'Create New Blog', new_blog_path, class: 'btn btn-light' %>
  </div>
  
  <% @blogs.each do |blog| %>
    <div class="row">
      <div class="col-md-8">
        <div class="card marg small-padd">
          <h3 class="title-font"><%= link_to blog.title, blog %></h3>
          <small>Created <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago</small>
          <br />
          <hr />
          <%= blog.body %>
        </div>
      </div>
    </div>
  <% end %>
</div>
