<div class="card large-marg ad-background" style="background-image: url(<%= @advert.image %>);">
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-right">
        <%= @advert.title %>
      </h3>
    </div>
    <div class="col-md-8">
      <p>
        <%= @advert.body %>
      </p>
    </div>
  </div>
</div>

