
<div class="container large-marg">
  <h1>Test Ads</h1>
  <% @test_ads.each do |test_ad| %>
    <%= link_to test_ad do %>
      <div class="card marg recipe_index" style="background-image: url(<%= test_ad.image %>);">
        <div class="row">
          <div class="col-md-6 text-center">
            <%= test_ad.title %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="marg">
    <%= link_to 'New Test Ad', new_test_ad_path, class: 'btn btn-light' %>
  </div>
</div>