
@import "bootstrap";




/*Custom*/

.title-font {
  font-family: 'Bitter', serif;
}

.fell-font {
  font-family: 'IM Fell English SC', serif;
  font-size: 1.2em;
}

.teko-font {
  font-family: 'Teko', sans-serif;
}

.marg {
  margin-top: 20px;
  margin-bottom: 20px;
}

.large-marg {
  margin-top: 60px;
  margin-bottom: 60px;
}

.small-marg {
  margin-top: 10px;
  margin-bottom: 10px;
}

.small-padd {
  padding: 10px 10px 10px 10px;
}


.ad-background {
  min-width: 800px;
  min-height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}

.recipe_index {
  min-width: 600px;
  min-height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
}

.recipe_home {
  min-width: 350px;
  min-height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
}